:root {
  /* Primary */

  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);

  /* Neutral */

  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
html {
  font-size: 18px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "League Spartan", serif;
}
h1 {
  font-size: 3rem;
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  line-height: 90%;
  word-spacing: -5px;
}
.verified {
  color: var(--Soft-Pink);
  font-size: 0.8rem;
}
.name {
  font-weight: 700;
  font-size: 0.9rem;
}
.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 73%;
  gap: 1rem;
  margin: 0 auto;
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--Very-Dark-Magenta);
  padding-right: 5rem;
}
.rates {
  align-self: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.rate {
  display: flex;
  gap: 1.5rem;
  background-color: var(--Light-Grayish-Magenta);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.rate:nth-child(1) {
  align-self: flex-start;
}
.rate:nth-child(2) {
  align-self: center;
}
.rate:nth-child(3) {
  align-self: flex-end;
}
/* .star {
  display: flex;
  gap: 1rem;
} */
.rate p {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
}
.container {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.725rem;
  height: 280px;
}
.container:nth-child(1) {
  align-self: flex-start;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--Very-Dark-Magenta);
  padding: 2rem 2rem;
  color: var(--White);
  border-radius: 0.5rem;
}
.profile {
  display: flex;
  gap: 1rem;
}
.profile img {
  width: 40px;
  border-radius: 50%;
}
.bottom-section {
  width: 73%;
  margin: 0 auto;
}
.card-1 {
  align-self: flex-start;
}
.card-2 {
  align-self: center;
}
.card-3 {
  align-self: flex-end;
}
.content p {
  font-size: 0.8em;
  line-height: 1.9;
}
.name:nth-child(2) {
  color: var(--Very-Dark-Magenta);
}
.names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}
